@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: "SF-Pro-Display-bold";
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: "SF-Pro-Display-regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: "SF-Pro-Display-semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: "SF-Pro-Display-thin";
  src: url(../fonts/SF-Pro-Display-Thin.otf);
}
:root {
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-family-SF-Pro-Display-regular: "SF-Pro-Display-regular";
  --font-family-SF-Pro-Display-Medium: "SF-Pro-Display-Medium";
  --font-family-SF-Pro-Display-semibold: "SF-Pro-Display-semibold";
  --font-family-SF-Pro-Display-bold: "SF-Pro-Display-bold";
  --font-family-SF-Pro-Display-Thin: "SF-Pro-Display-Thin";
  --font-color-nav: #fff;
  --font-color-card: rgb(24, 4, 4);
}

.collection-grid nav {
  background: linear-gradient(
    90deg,
    rgba(9, 8, 17, 1) 0%,
    rgba(1, 19, 62, 1) 17%
  );
  width: 226px;
  grid-area: nav;
  color: rgba(255, 255, 255, 1);
  padding: 50px 37px 300px 37px;
}
.collection-grid section {
  margin-bottom: 325px !important;
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-area: main;
  display: grid;
  grid-template-areas:
    "head head"
    "collection manu"
    "collection manu";
}

.collection-grid {
  display: grid;
  grid-template-areas:
    "nav main"
    "nav footer";
}

.head {
  grid-area: head;
}
.collection {
  margin: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-area: collection;
  gap: 30px;
  row-gap: 100px;
}
.menu {
  border-left: 0.5px solid rgba(238, 238, 238, 1);
  grid-area: manu;
}
.collection-grid footer {
  border-top: 0.5px solid rgba(238, 238, 238, 1);
  background-color: #1b1a1a05;
  grid-area: footer;
}

.links-1 {
  font-family: var(--font-family-SF-Pro-Display-semibold);
  text-decoration: none;
  font-size: var(--font-size-18);
  color: var(--font-color-nav);
  position: fixed;
  z-index: 0 !important;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.links-1 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.links-1 ul li,
.links ul li,
.profile ul li {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}
.links-1 ul li a {
  font-family: var(--font-family-SF-Pro-Display-semibold);
  text-decoration: none;
  font-size: var(--font-size-18);
  color: var(--font-color-nav);
}
.market-nav .links ul li:hover {
  background-color: rgb(63 75 116);
}
.market-nav .profile ul li:hover {
  background-color: rgb(63 75 116);
}

.links ul li a {
  text-decoration: none;
  color: #fff;
}
.active-class {
  background-color: rgb(63 75 116);
}
.profile ul li:hover {
  background-color: rgb(63 75 116);
}
.links-1 ul li:hover {
  background-color: rgb(63 75 116);
}
.logo svg {
  margin-bottom: 50px;
}
.modal-pic {
  max-width: 100px;
  max-height: 50px;
  border-radius: 24px;
}
.profile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.profile ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.head > div {
  border-bottom: 0.5px solid rgba(238, 238, 238, 1);
  padding: 25px;
  justify-content: center;
  gap: 300px;
  display: flex;
}
.head button {
  border: none;
  background-color: #fff;
}
.head div form {
  width: 400px;

  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.637);
  padding-left: 10px;
}
.head div form button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
}
.head div form input {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
}
.card-wrapper {
  max-height: 400px;
  position: relative;
  border-radius: 24px;
  border: 0.5px solid rgba(238, 238, 238, 1);
  max-width: 570px;
  display: flex;
  padding: 24px;
  transition: 1.3s;
}
.class-title {
  font-family: var(--font-family-SF-Pro-Display-regular);
}
.title-content-card {
  color: var(--font-color-card);
  font-family: var(--font-family-SF-Pro-Display-regular);
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-price {
  display: flex;
  gap: 48px;
}
.card-p {
  font-size: 14px;
  font-family: var(--font-family-SF-Pro-Display-Thin);
  text-align: left;
  font-size: var(--font-size-16);

  padding-right: 5px;
  margin-bottom: 32px;
  max-width: 300px;
}
.text-card-vector {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-hover {
  left: 95%;
  position: absolute;
  cursor: pointer;
  display: none;
  padding: 16px;
  background-color: #444;
  height: 100%;
  border-radius: 5px 24px 24px 5px;
  transition: 1.3s;
}
.card-wrapper:hover .card-hover {
  cursor: pointer;
  display: flex;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(11, 0, 103, 1) 0%,
    rgba(11, 51, 147, 1) 17%,
    rgba(2, 0, 66, 1) 29%
  );
  height: 100%;
  align-items: center;
  border-radius: 4px 24px 24px 4px;
}
.card-img {
  width: 40%;
  cursor: pointer;
  transition: 1.3s;
  border-radius: 24px;
}
.card-wrapper .card-img:hover {
  scale: 1.1;
}
.featured-collection {
  margin-top: 18px;
  display: flex;
  gap: 141px;
  align-items: center;
  justify-content: center;
}
.featured-collection-card {
  font-family: var(--font-family-SF-Pro-Display-regular);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 0 !important;
  padding: 4px;
  max-width: 340px;
  max-height: 101px;
  border-radius: 24px;
  border: 0.5px solid rgba(238, 238, 238, 1);
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.featured-collection-card-description {
  display: flex;
  margin-top: 26px;
}
.featured-collection-card h2 {
  position: relative;
  margin-bottom: 4px;
}
.featured-collection-card img {
  border-radius: 24px;
  width: 20%;
  cursor: pointer;
  transition: 1.3s;
}
.featured-collection-card img:hover {
  scale: 1.1;
}
.see-more-svg {
  position: relative;
  cursor: pointer;
  display: none;
  align-items: center;
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(11, 0, 103, 1) 0%,
    rgba(11, 51, 147, 1) 17%,
    rgba(2, 0, 66, 1) 29%
  );
  border-radius: 5px 24px 24px 5px;
  transition: 1.3s;
}
.featured-collection-card:hover .see-more-svg {
  display: flex;
}

.footer-content p {
  color: rgba(37, 2, 119, 0.651);
  font-size: 25px;
}
.footer-content ul li {
  cursor: pointer;
}
.footer-content {
  font-family: var(--font-family-SF-Pro-Display-semibold);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
}
.footer-content ul {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-content h2 {
  color: #1f2350;
  font-size: 20px;
  font-family: var(--font-family-SF-Pro-Display-bold);
  margin-bottom: 10px;
}
.menu-content h3 {
  margin-bottom: 16px;
}
.menu-content {
  font-family: var(--font-family-SF-Pro-Display-Medium);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 24px;
}
.market-nav {
  color: var(--font-color-nav);
  font-family: var(--font-family-SF-Pro-Display-Medium);
  font-size: var(--font-size-18);
  z-index: 1 !important;
  padding: 24px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  background-color: #72727229;
  border-radius: 0px 0px 132px 132px;
}

.market-nav .links {
  display: flex;
  flex-direction: row;
}
.market-nav .links ul {
  display: flex;
  flex-direction: row;
}
.market-nav .profile {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.market-nav div {
  gap: 30px;
  display: flex;
  align-items: center;
}
.market-nav .logo svg {
  margin-bottom: 0px;
  margin-right: 50px;
}
.sticky {
  position: fixed;
  z-index: 0;
  width: 100%;
}
.set-nav {
  border: none;
  cursor: pointer;
}
.reg-button {
  border: 0.5px solid rgba(10, 10, 63, 0.349);
  padding: 5px;
  border-radius: 24px;
}
.reg-button a {
  font-family: var(--font-family-SF-Pro-Display-semibold);
  color: rgb(4, 68, 170);
  text-decoration: none;
  background-color: transparent;
}

.reg-button:hover {
  background-color: rgba(18, 27, 95, 0.418);
}
.reg-button:hover a {
  color: rgb(255, 255, 255);
}
.container {
  max-width: 1850px;
  margin: auto;
}
.registration {
  background: rgb(176, 227, 252);
  background: radial-gradient(
    circle,
    rgba(176, 227, 252, 1) 0%,
    rgba(137, 182, 214, 1) 29%,
    rgba(0, 22, 79, 1) 100%
  );
  animation: color 10s infinite linear;
}

.forms {
  width: 100%;

  display: flex;
  max-height: 1000px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.form-login {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  border: none;

  border-radius: 24px;
  padding: 48px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-login h2 {
  font-family: var(--font-family-SF-Pro-Display-semibold);
  font-size: 24px;
  color: rgb(30, 93, 134);
  text-align: center;
}
.form-login form {
  font-family: var(--font-family-SF-Pro-Display-regular);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form .field {
  position: relative;
  width: 330px;
  max-height: 50px;
  margin-top: 30px;
}

.field input,
.field button {
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: 0.5px solid #eeeeee;
}
.field button {
  color: #1f2350;
  font-family: var(--font-family-SF-Pro-Display-bold);
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.field button:hover {
  background-color: rgb(120, 111, 241);
  color: #fff;
}
.form-link {
  text-align: center;
}
.form-link a {
  text-decoration: none;
  color: rgb(5, 113, 255);
  font-size: 18px;
}
.form-link a:hover {
  color: rgb(52, 35, 202);
  text-decoration: underline;
}
.form-link span {
  font-family: var(--font-family-SF-Pro-Display-regular);
  font-size: 14px;
}
.eye-icon {
  cursor: pointer;
  top: 50%;
  right: 10px;
  transform: translateY(-20%);
  position: absolute;
  size: 20px;
  height: 20px;
}
.line {
  margin: 10px 0px 20px 0px;
  height: 1px;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.651);
}
.option a {
  color: rgb(255, 255, 255);
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.option {
  font-family: var(--font-family-SF-Pro-Display-bold);
  cursor: pointer;
  padding: 24px;
  background-color: rgb(122, 152, 179);
  border-radius: 24px;
}
.option:hover {
  background-color: rgb(3, 59, 59);
}
.field input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.37);
}
.burger-img img {
  max-width: 30px;
  max-height: 30px;
  display: none;
}

.show-more {
  display: flex !important;
  flex-direction: column;
  gap: 15px;
}
.off-span {
  cursor: pointer;
  padding: 1px 2px 2px 2px;
  border-radius: 22px;
  background-color: #fff;
}
.off-span:hover {
  color: red;
}
.mshow {
  display: flex !important;
}

.modal-ul {
  padding-right: 100px;
  text-shadow: 2px 2px 4px #000000;
  font-size: var(--font-size-20);
  color: rgb(255, 255, 255);
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-content a {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}
.modal-content a:hover {
  color: blue;
}
.modal-content p {
  color: var(--font-color-nav);
}
.modal-content p span {
  font-size: var(--font-size-20);
  color: rgba(243, 227, 2, 0.637);
}
.modal-content {
  font-family: var(--font-family-SF-Pro-Display-regular);
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1 !important;
  display: flex;
  top: 5%;
  position: absolute;
  display: none;
  z-index: 1;
  background: rgb(176, 227, 252);
  background: radial-gradient(
    circle,
    rgba(176, 227, 252, 1) 0%,
    rgba(0, 22, 79, 1) 100%
  );
  left: 0%;
  width: 100%;
  flex-direction: column;
  padding: 50px;
  align-items: flex-end;
  border-radius: 24px;
}
@media only screen and (max-width: 1829px) {
  .main-card-h2-svg-img {
    background-color: rgb(3 1 51 / 4%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 20px;
  }
  .menu {
    border: none;
    margin-bottom: 300px;
  }
  .menu-wrapper {
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
  }
  .head > div {
    border-bottom: 0.5px solid rgba(238, 238, 238, 1);
    padding: 25px;
    justify-content: center;
    gap: 130px;
    display: flex;
    align-items: center;
  }
  .main-card-h2-svg-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collection-grid section {
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-area: main;
    display: grid;
    grid-template-areas:
      "head head"
      "collection collection"
      " manu manu";
  }
}

@media only screen and (max-width: 1410px) {
  .card-wrapper {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .head > div {
    border-bottom: 0.5px solid rgba(238, 238, 238, 1);
    padding: 25px;
    justify-content: center;
    gap: 51px;
    display: flex;
  }
  .collection {
    margin: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-area: collection;
    gap: 30px;
    row-gap: 100px;
    justify-content: center;
  }
}
@media only screen and (max-width: 965px) {
  .links-1 {
    border-radius: 14px;
    background-color: #7587958a;
  }
  .menu-content {
    margin-top: 164px;
  }
  .nav-collection .logo {
    margin: 20px;
  }
  .img-br {
    padding-left: 30px;
  }
  .burger-img img {
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background: rgb(85, 128, 255);
    background: radial-gradient(
      circle,
      rgba(85, 128, 255, 0.48503151260504207) 0%,
      rgba(255, 255, 255, 0.884) 100%
    );
  }
  .links-1 ul li {
    font-size: 14px !important;
    padding: 0px !important;
    cursor: pointer;
    border-radius: 50px;
  }
  .links-1 ul {
    display: flex;
    gap: 6px;
    align-items: flex-start;
    flex-direction: column;
  }
  .collection-grid nav {
    background: linear-gradient(
      90deg,
      rgba(9, 8, 17, 1) 0%,
      rgba(1, 19, 62, 1) 17%
    );
    width: 105px;
    grid-area: nav;
    color: rgba(255, 255, 255, 1);
    padding: 5px 3px 3px 3px !important;
  }
  .collection-grid nav {
    background: linear-gradient(
      90deg,
      rgba(9, 8, 17, 1) 0%,
      rgba(1, 19, 62, 1) 17%
    );
    width: 116px;
    grid-area: nav;
    color: rgba(255, 255, 255, 1);
    padding: 50px 37px 300px 37px;
  }
  .nav-collection .profile {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }
  .links-1 {
    display: none;
  }
  .show {
    display: flex !important;
    position: absolute;
    top: 15%;
    left: 40%;
    background-color: #7b8d9b8a;
    border-radius: 24px;
    padding: 20px;
  }
  .links {
    align-items: center;
    display: flex;
    gap: 0px !important;
  }

  .market-nav .links {
    left: 35%;
    top: 70%;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .burger-img img {
    cursor: pointer;
    display: flex;
  }
  .market-nav .links ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 0px;
  }
  form .field {
    width: 300px;
  }

  .market-nav .links {
    display: none;
  }
}
@media only screen and (max-width: 830px) {
  .reg-button {
    text-align: center;
    border: 0.5px solid rgba(10, 10, 63, 0.349);
    padding: 5px;
    border-radius: 24px;
  }
  .footer-content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    flex-direction: column;
  }
  .card-wrapper:hover .card-hover {
    cursor: pointer;
    display: flex;
    padding: 10px;
    background: linear-gradient(
      90deg,
      rgb(152 149 179) 0%,
      rgb(17 12 46 / 71%) 17%,
      rgba(11, 0, 103, 1) 29%
    );
    height: 50%;
    align-items: center;
    top: 10px;
    border-radius: 4px 24px -2px 4px;
  }
  .card-wrapper:hover .card-hover {
    top: 50% !important;
  }
  .menu-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    align-content: center;
  }
  .menu-wrapper {
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
  .card-img {
    width: 52%;
    margin: auto;
    height: 172px;
  }
  .title-content-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 24px;
    background-color: rgba(233, 227, 227, 0.062);
    flex-direction: column !important;
    padding-left: 18px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .card-p {
    max-width: 300px;
    height: 60px;
    overflow: auto;
  }
  .card-price {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
  }
  .head div form {
    width: auto;
  }
  .card-wrapper:hover .card-hover {
    top: 0px;
  }
  .card-wrapper {
    width: auto;
    position: relative;
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px;
    max-width: 570px;
    display: flex;
    padding: 10px 20px 20px 20px;
    transition: 1.3s;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 0px solid transparent;
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    justify-content: center;
  }
  .footer-content {
    gap: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .form-login {
    padding: 27px;
  }
  form .field {
    width: 240px;
  }
  .market-nav .profile {
    gap: 1px;
  }
  .market-nav div {
    gap: 2px;
    display: flex;
    align-items: center;
  }
  .card-p {
    max-width: 358px;
    height: 92px;
    overflow: auto;
  }
  .menu-img-1 {
    max-width: 200px;
  }
  .head div form {
    max-width: 100px;
  }
  .head > div {
    border-bottom: 0.5px solid rgba(238, 238, 238, 1);
    padding: 25px;
    justify-content: center;
    gap: 10px;
    display: flex;
  }
  .footer-content ul {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer-content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    flex-direction: column;
  }
  .collection-grid {
    display: grid;
    grid-template-areas: "nav" "main" "footer";
  }
  .sticky {
    background-color: steelblue;
    position: fixed;
    z-index: 1 !important;
    background: linear-gradient(
      90deg,
      rgb(9 8 17 / 95%) 0%,
      rgb(1 19 62 / 80%) 17%
    );
    width: 100%;
    backdrop-filter: blur(5px);
  }
  .nav-collection {
    display: flex;
    justify-content: center;
  }
  .img-br {
    padding-left: 30px;
    padding-top: 30px;
  }
  .collection-grid nav {
    width: 100%;
  }
  .links-1 {
    display: none;
    background-color: #7b8d9b8a;
    border-radius: 24px;
    padding: 24px;
  }
  .featured-collection-card {
    z-index: 0 !important;
  }
}
@media only screen and (max-width: 360px) {
  .featured-collection-card-description {
    display: flex;
    margin-top: -3px;
    justify-content: center;
  }
  .card-wrapper:hover .card-hover {
    top: 40% !important;
  }
  .card-img {
    width: 40%;
    margin: auto;
    height: 135px;
  }
  .title-content-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 16px;
    background-color: rgba(233, 227, 227, 0.062);
    flex-direction: column !important;
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .collection {
    margin-bottom: 100px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-area: collection;
    gap: 30px;
    row-gap: 100px;
    justify-content: center;
  }
}
